@tailwind base;
@layer base {
  html {
    @apply text-gray-900;
  }
  a:hover {
    @apply underline;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-bg: #f7f4ed;
  --scrollbar-thumb: #9fa7a7;
  --scrollbar-thumb-hover: #818888;
}

.dark {
  --scrollbar-bg: #2d3748;
  --scrollbar-thumb: #4aff68;
  --scrollbar-thumb-hover: #a0aec0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: var(--scrollbar-bg);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    /* border-radius: 100vh; */
    border: 3px solid var(--scrollbar-bg);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }

  .detailPanelFullView {
    transform: translateY(calc(0px + 112px));
  }

  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotateDiv {
    animation: rotateAnimation 2s ease-in-out infinite;
    transform-origin: center;
  }
}
